.buttonPrint {
    border: solid #8080805c 2px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 30px;
    background-color: #ff25ee82;
}

.buttonPrint:hover {
    background-color: #f5deb361;
}

.toggleButton {
    display: flex;
    gap: 1vw;
    border: solid 2px gray;
    border-radius: 5px;
    padding: 5px;

    position: absolute;
    top: 4vh;
    right: 11vw
}

.toggleButton li:hover {
    background-color: grey;
}


@media print {
    .buttonPrint {
        display: none;
    }
}

@media (max-width: 480px) {
    .buttonPrint {
        display: none;
    }
}
