.buttonPrint {
    border: solid #8080805c 2px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 30px;
    background-color: sandybrown;
}

.buttonPrint:hover {
    background-color: #f5deb361;
}

@media print {
    .buttonPrint {
        display: none;
    }
}

@media (max-width: 480px) {
    .buttonPrint {
        display: none;
    }
}
