
@media (max-width: 480px){
    .resumeContainer {
        margin: 0;
        padding: 2rem;

        border: none;

        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;

        font-size: 14px;
    }
}

@media print {
    .resumeContainer{
        border-radius: 0;
    }
}



