.list li::before {
    content: "•";
    display: inline-block;
    width: 1em;
}

.headerName {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
}

.headerSubtitle {
    font-size: 18px;
    font-weight: 400;
}

.mainContainer {
    margin: 3rem 1rem;
}

.mainContainer header {
    margin-bottom: 30px;
}

.nonPrintable {
    display: block;
}

.subtitle {
    margin-bottom: 0;
}

.textContainer {
    text-align: justify;
    display: grid;
    grid-row-gap: 20px;
}

.textHeaders {
    margin: 0;

}

.text {
    margin: 0;
}



@media print {
    .nonPrintable {
        display: none;
    }
}

@media (max-width: 480px) {
    .mainContainer{
        margin: 0;
    }

    .mainContainer header {
        display: none;
    }
}

