.asideBarContainer{
    background-color: #f5deb361;
    padding: 3rem 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.myPhotoContainer{
    background-color: darkgray;
    max-width: 150px;
    height: 150px;
    border-radius: 50% 50%;

    background-image: url('../imgs/IMG (93)-min.jpg');
    background-size: cover;
    margin: auto;
}

.contactsList {
    padding: 0;
}

.contactListItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 5px;
}


.listIcon {
    margin-right: 10px;
    margin-top: 5px;
}

.list {
    padding: 0;
    margin-left: 15px;
    margin-top: 10px;
}

.subtitle {
    margin-bottom: 0;
}

.subtitle2 {
    margin: 0;
}


