.myPhotoContainer{
    background-color: pink;
    max-width: 150px;
    height: 150px;
    border-radius: 50% 50%;

    background-image: url('../imgs/IMG (93).jpg');
    /*background-clip: border-box;*/
}

/*.myPhoto {*/
/*    background-size: cover;*/
/*}*/
