.asideBarContainer{
    background-color: #f5deb361;
    padding: 3rem 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: grid;
    align-content: start;
    grid-row-gap: 30px;
}

.asideBarHeader {
    display: none;
}

.myPhotoContainer{
    background-color: darkgray;
    max-width: 150px;
    height: 150px;
    border-radius: 50% 50%;

    background-image: url('../imgs/IMG (93)-min.jpg');
    background-size: cover;
    margin: auto;
}

.contactsList {
    padding: 0;
    display: grid;
    grid-row-gap: 5px;
}

.contactListItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}


.listIcon {
    margin-right: 10px;
    margin-top: 5px;
}

.list {
    padding: 0;
    margin-left: 15px;
    margin-top: 10px;
}

.subtitle {
    margin-bottom: 0;
}

.subtitle2 {
    margin: 0;
}

.photoAndContactsContainer {
    display: block;
}

@media (max-width: 480px){
    .asideBarContainer{
        padding: 0;
        background-color: transparent;
        grid-row-gap: 15px;
    }

    .asideBarEmail{
       display: flex;
    }

    .asideBarEmailText{
        font-size: 13px;
    }

    .asideBarHeader {
        display: block;
        margin: 0;
        align-self: center;
    }

    .asideBarHeader h1 {
        margin: 0;
    }

    .contactsList{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 5px;
    }


    .listIcon {
        margin-right: 3px;
        margin-top: 5px;
    }

    .myPhotoContainer{
        background-color: darkgray;
        width: 100%;

        background-image: url('../imgs/IMG (93)-min.jpg');
        background-size: cover;
        margin: auto;

        border-radius: 5px;

    }

    .photoAndContactsContainer {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-column-gap: 0.5rem;
    }
}


