.mainContainer {
    margin: 3rem 1rem;
    display: grid;
    grid-row-gap: 20px;
}

.nonPrintable {
    display: block;
}

.subtitle {
    margin-bottom: 0;
}

.textContainer {
    text-align: justify;
    display: grid;
    grid-row-gap: 20px;
}

.textHeaders {
    margin: 0;

}

.text {
    margin: 0;
}

@media print {
    .nonPrintable {
        display: none;
    }
}

@media (max-width: 480px) {
    .mainContainer{
        margin: 0;
        /*padding: 0.5rem 0.5rem;*/
    }

    .mainContainer header {
        display: none;
    }
}

