/* CSS Reset */

/* 1. Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0!important;
  padding: 0;
}

/* 3. Remove default list styles */
ul,
ol {
  list-style: none;
}

/* 4. Remove default quote styles */
blockquote,
q {
  quotes: none;
}

/* 5. Remove default quote styles */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* 6. Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 7. Reset form elements */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

/* 8. Remove default buttons styles */
button {
  cursor: pointer;
}

/* 9. Remove default text-decoration */
a {
  text-decoration: none;
}


@media (max-width: 480px) {
  body{
    background-color: #f5d9b04a;
  }
}

@media print {
  @page {
    margin: 30px;
  }

}

