*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0!important;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


blockquote,
q {
  quotes: none;
}


blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}


@media (max-width: 480px) {
  body{
    background-color: #f5d9b04a;
  }
}

@media print {
  @page {
    margin: 30px;
  }

}

